$amber: #ffc107;
$greyTrans: #3d3d3de7;
$grey: #919191;
$greyLight: #bdbdbd;
$greyLight2: #dddddd;
$navy2: #032f47;
$navy1: #031e2a;
$navy3: #005571;
$blue: #0d749a;
$white: #ffffff;
$radius: 10px;
$radiusSm: 5px;
$margin1: 2vh;
$margin2: 2vw;
$margin3: 1vh;
$margin4: 3vh;
$padding1: 5px;
