@import "./../../variables/_variables.scss";
.tableContainer {
  overflow-x: auto;
  .resultTable {
    background-color: $navy3;
    //width: 90vw;
    color: $white;

    .tableRow {
      cursor: pointer;
    }
  }
}
