@import "./../../variables/_variables.scss";
.wrapper {
  margin: $margin4;
  .divElement {
    background-color: $navy1;
    padding: $padding1;
    margin: $margin3;
    border-radius: $radiusSm;
  }
}
