.App {
  text-align: center;

  .AppHeader {
    //background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: 5vw;
    .title {
      margin: 5%;
    }
  }

  .App-link {
    color: #61dafb;
  }
}
