@import "./variables/_variables.scss";
.App {
  text-align: center;
  background-color: $navy3;
  color: $greyLight2;

  .AppHeader {
    background-color: $navy3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: 5vw;
    .title {
      margin: 5%;
    }
    a {
      color: $greyLight;
      text-decoration: none;
    }
  }
}
